    html, body {
        width: 100%;
        height: 100%;
    }

    .container {
        font-family: 'Source Sans Pro', sans-serif;
        padding: 10rem 20rem;
        margin: 2rem auto;
        height: 100%;
    }

    .star {
        color: #FF4400;
    }

    .inputfield {
        position: relative;
        height: 2rem;
        line-height: 2.5rem;
    }

    .inputlabel {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        color: #999999;
        transition: 0.2s all;
        cursor: text;
    }

    input[type="text"] {
        width: 100%;
        border: 0;
        outline: 0;
        padding: 0.5rem 0;
        border-bottom: 1px solid #DDDDDD;
        box-shadow: none;
        color: #111;
    }

    input[type="text"]:focus, input[type="text"]:valid {
        border-color: #339933;
    }

    input[type="text"]:focus + label, input[type="text"]:valid + label {
        font-size: 1rem;
        top: -1.5rem;
        color: #339933;
    }
      
    .text-example-error, .radio-example-error, .checkbox-example-error {
        color: #BBBBBB;
        top: 0;
        font-size: small;
        grid-column-start: 1;
        grid-column-end: 3;
        padding-top: 0.7rem;
    }

    .radioinput, .checkboxinput {
        cursor: context-menu;
    }

    .radiolabel, .checkboxlabel {
        position: relative;
        text-align: left;
        word-wrap: break-word;
        color: #999999;
    }

    .radiotitle, .checkboxtitle {
        color: #777777;
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 5% 0%;
    }

    .radioinput:focus + .radiolabel, .radioinput:checked + .radiolabel {
        color: black;
    }

    .radiorow1, .radiorow2 {
        grid-column-start: 1;
        grid-column-end: 3;
        display: grid;
        grid-template-columns: 1fr 6fr;
    }

    .checkboxrow1, .checkboxrow2 {
        grid-column-start: 1;
        grid-column-end: 3;
        display: grid;
        grid-template-columns: 1fr 6fr;
    }

    .checkboxinput:focus + .checkboxlabel, .checkboxinput:checked + .checkboxlabel {
        color: black;
    }

    .submit {
        background-color: #0077FF;
        color: #FFFFFF;
        font-weight: bold;
        width: 100%;
        border: none;
        padding: 0.5rem;
        margin-top: 1.5rem;
        border-radius: 5px;
        font-size: 80%;
    }

    @media (min-width: 320px) {
        .container {
            padding: 2rem 2rem;
            height: 100%;
        }
    }

    @media (min-width: 480px) {
        .container {
            padding: 3rem 5rem;
        }
    }

    @media (min-width: 768px) {
        .container {
            padding: 4rem 13rem;
        }
    }

    @media (min-width: 1024px) {
        .container {
            padding: 5rem 22rem;
        }
    }

    @media (min-width: 1440px) {
        .container {
            padding: 5rem 32rem;
        }
    }

    @media (min-width: 2560px) {
        .container {
            padding: 5rem 70rem;
        }
    }


    

    





    